.skill-title {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--main-shadow);

    .skill-title-before {
        width: 10%;
        height: 1px;
    }

    .skill-title-after {
        flex: 1 0 10%;
        height: 1px;
    }

    .skill-title-before,
    .skill-title-after {
        background-color: var(--main-shadow);
    }

    @media screen and (max-width:568px) {
        .skill-title-before {
            width: 10%;
        }

        .skill-title-after {
            flex: 1 0 35%;
        }

        p {
            font-size: 16px !important;
        }
    }
}

.skill-card {
    border-width: 1px;

    padding-top: 20px !important;
    padding-bottom: 20px !important;

    &:hover {
        transform: scale(1.01);
    }
}
